<% if flash[:notice] %>
    <div>
        <%= flash[:notice] %>
    </div>
<% end %>

<div>
    <% if logged_in? %>
        <%= current_user.username %> is currently logged in
        <%= form_with model: @session, url: '/logout' do |f| %>
            <%= f.submit "Log out" %>
        <div>
            <%= link_to 'Home Page', user_path(current_user.id)  %>
            <%= link_to 'All Events', events_path%>
        <% end %>
    <% end %>
</div>


<%= yield %>